/* すべての要素の幅計算を安定させる */
* {
  box-sizing: border-box;
}

/* =========================
  グリッド操作エリア
========================= */

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 60% 40%;
  margin-bottom: 10rem;
  height: 100vh;
}

.grid-container-main {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 3rem 0;
}

.grid-container-preview {
  grid-column: 2;
  display: flexbox;
  padding: 0 2rem 2rem 2rem;
  margin-bottom: 3rem;
}

body {
  margin: 0;
  padding: 0;

  background-color: #1f1f20;
  color: #e6e6e6;
}

/* タイトル */
.Title {
  margin-bottom: 4rem;
  grid-column: 1 / 3;
  display: flex;
  font-size: 4em;
  justify-content: center;
  align-items: center;
}

/* =========================
  プレビューウィンドウ
========================= */

.preview-window {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #323131;
  color: #b2b2b2;
  border-radius: 20px;
  border: 1px solid #ffffff33;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
}

/* =========================
  横幅統一
========================= */

.form-area,
.mail-work {
  width: 100%;
  max-width: 1000px;
}

/* =========================
  業務内容エリア
========================= */

.mail-work {
  margin: 0 0 20px 0px;
}

.mail-work-task {
  display: flex;
  padding: 0.5rem 0 0 0;
  height: 3rem;
}

.mail-work-input {
  padding: 10px 10px 10px 10px;

  border: 1px solid #ffffff33;
  color: #e6e6e6;
  border-radius: 10px;

  background-color: #323131;

  font-size: 1em;
  line-height: 1.8;

  resize: none;
}

/* フォーカス時 */
.mail-work-input:focus {
  outline: 0.2rem solid #bd96ff;
}

.mail-work-add {
  font-size: 2em;
  cursor: pointer;
}

.addTask-btn {
  border: none;
  size: 30rem;
  color: #e6e6e6;
  background-color: #cfc83a00;
  cursor: pointer;
}

.addTask-btn:hover {
  color: #bd96ff;
}

/* =========================
  業務内容リストエリア
========================= */

.mail-work-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  gap: 1rem;
  align-items: center;
}

.mail-work-list-btn {
  margin: 0 0.5rem 0 0.5rem;
  color: #717171;
  background-color: #cfc83a00;
  border: none;
  cursor: pointer;
}

.mail-work-list-btn:hover {
  color: #bd96ff;
}

.task-item {
  display: flex;

  justify-content: space-between;
  border: 2px solid;
  border-color: #717171;
  border-radius: 1rem;
  align-items: center;
}

.task-item-content {
  display: flex;
  font-size: 1em;
  height: 100%;
  margin: 0.6rem 0 0.6rem 1rem;
  border: none;
  background-color: #ffffff00;
  color: #e6e6e6;
}

.task-item:hover {
  border-color: #bd96ff;
}

/* =========================
  入力エリア
========================= */

.form-area {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative; /* ボタンの基準 */
}

/* ラベル */
.textbox-5-label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
}

/* テキストエリア本体 */
.textbox-5 {
  width: 100%;

  /* 最低でも高さ300pxに */
  min-height: 300px;

  padding: 10px 10px 10px 10px;

  border: 1px solid #ffffff33;
  color: #e6e6e6;
  border-radius: 10px;

  background-color: #323131;

  font-size: 1.2em;
  line-height: 1.8;

  resize: none;
}

/* フォーカス時 */
.textbox-5:focus {
  outline: 0.2rem solid #bd96ff;
}

/* =========================
  送信ボタン
========================= */

.send-button {
  position: absolute;
  right: 10px;
  bottom: 10px;

  width: 38px;
  height: 38px;

  border: none;
  padding-right: 1px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e6e6e6;

  cursor: pointer;
}

.send-button:hover {
  background-color: #bd96ff;
}
